<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Application</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100 min-h-screen">

<div class="max-w-3xl mx-auto mt-10 bg-white p-8 rounded-xl shadow">
    <h2 class="text-2xl font-bold mb-4">Application</h2>

    <div class="space-y-4">
        <div class="p-4 border rounded-lg bg-gray-50">
            <label class="p-2 w-full">Application: </label>
            <label class="p-2 w-full font-bold" id="name"></label>
        </div>
        <div class="p-4 border rounded-lg bg-gray-50">
            <label class="p-2 w-full">Category: </label>
            <label class="p-2 w-full font-bold" id="category"></label>
        </div>
        <div class="p-4 border rounded-lg bg-gray-50">
            <label class="p-2 w-full">Owner: </label>
            <label class="p-2 w-full font-bold" id="owner"></label>
        </div>
    </div>
    
    <div class="btns flex justify-between items-center my-4 space-x-2">
        <a href="/applications" class="w-full text-center border-b font-bold hover:underline hover:bg-gray-200 px-3 py-2  rounded">Back</a>
        <button class="w-full hover:bg-red-500 bg-red-300 font-bold py-2 px-3 rounded" id="deleteBtn">Delete</button>
    </div>

</div>

<script>
    const urlParams = new URLSearchParams(window.location.search);
    const appId = urlParams.get("id");
    let currentUser = null;
    let originalOwner = null;
    let app = null;

    // ================================
    //   Load logged user
    // ================================
    async function loadUser() {
        const token = localStorage.getItem("token");
        if (!token) return window.location.href = "/login";

        const res = await fetch("/api/auth/me", {
            headers: { "Authorization": "Bearer " + token }
        });

        if (!res.ok) return logout();

        currentUser = await res.json();
    }

    // ================================
    //   Load Application Data
    // ================================
    async function loadApp() {
        const res = await fetch(`/api/applications/${appId}`);
        console.log(res);
        
        if (!res.ok) {
            alert("Application not found");
            return window.location.href = "/applications";
        }

        app = await res.json();

        document.getElementById("name").innerText = app.name;
        document.getElementById("category").innerText = app.category;
        document.getElementById("owner").innerText = app.owner;
        document.getElementById("edit_app_link").href += app.id;

        originalOwner = app.owner;
    }
    
    document.getElementById("deleteBtn").addEventListener("click", async (e) => {
        const deleteBtn = e.currentTarget;
        const token = localStorage.getItem("token");
        
        if (prompt(`Write 'delete ${app.name}' to confirm`) !== `delete ${app.name}`) {
            alert("⚠️ Check confirmation and try again !")
        } else {
            const res = await fetch(`/api/applications/${appId}`, {
                method: "DELETE",
                headers: { "Authorization": "Bearer " + token }
            });

            if (res.ok) {
                alert("✅ Application deleted successfully.");
                window.location.href = "/applications";
            } else if (res.status === 401) {
                alert("⚠️ Authentication required. Please log in.");
                window.location.href = "/login";
            } else {
                alert(`❌ Error deleting application: ${res.status} ${res.statusText}`);
            }
        }
    });

    function logout() {
        localStorage.removeItem("token");
        window.location.href = "/login";
    }

    (async () => {
        await loadUser();
        await loadApp();
    })();
</script>

</body>
</html>
