<!DOCTYPE html>
<html lang="en" class="h-full">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Dashboard</title>
</head>
<body class="h-full bg-gray-100">

    <!-- Navbar -->
    <nav class="bg-white shadow p-4 flex justify-between items-center">
        <h1 class="text-2xl font-bold text-blue-800">Internal Applications Portal</h1>
        <div class="">
            <a href="./login" class="hover:underline px-3">Login</a>
            <a href="./register" class="hover:underline font-semibold py-2 px-3 bg-blue-300 rounded">Sign up</a>
        </div>
    </nav>

    <!-- Container -->
    <!-- <div class="max-w-3xl mx-auto mt-10 bg-white p-8 rounded-xl shadow"> -->

        <!-- <h2 class="text-3xl font-bold mb-6 text-gray-900">Welcome 👋</h2> -->

        <!-- User Info Cards -->
        <!-- <div class="space-y-4">

            <div class="p-4 border rounded-lg bg-gray-50">
                <strong class="text-gray-700">Full Name:</strong>
                <span id="fullName" class="text-gray-900 ml-2">Loading...</span>
            </div>

            <div class="p-4 border rounded-lg bg-gray-50">
                <strong class="text-gray-700">Email:</strong>
                <span id="email" class="text-gray-900 ml-2">Loading...</span>
            </div>

            <div class="p-4 border rounded-lg bg-gray-50">
                <strong class="text-gray-700">Role:</strong>
                <span id="role" class="text-gray-900 ml-2">Loading...</span>
            </div>

        </div>
    </div> -->

    <!-- Container -->
    <!-- <div class="max-w-5xl mx-auto mt-10">
        <h2 class="text-2xl font-bold mb-4">Your Applications</h2>
        <div id="appsContainer" class="grid grid-cols-1 md:grid-cols-2 gap-4"></div>
    </div> -->

    <!-- Script -->
    <script>
        async function loadUser() {
            const token = localStorage.getItem("token");

            if (!token) {
                return window.location.href = "/login";
            }

            const res = await fetch("/api/auth/me", {
                method: "GET",
                headers: {
                    "Authorization": "Bearer " + token
                }
            });

            if (!res.ok) {
                alert("Session expired, please login again.");
                return logout();
            }

            const user = await res.json();

            document.getElementById("fullName").innerText = user.full_name;
            document.getElementById("email").innerText = user.email;
            document.getElementById("role").innerText = user.role;
        }

        async function loadApps() {
            const token = localStorage.getItem("token");
            if (!token) return window.location.href = "/login";

            const res = await fetch("/api/access", {
                headers: { "Authorization": "Bearer " + token }
            });

            if (!res.ok) {
                alert("Session expired");
                localStorage.removeItem("token");
                return window.location.href = "/login";
            }

            const accessList = await res.json();

            const apps = [];
            for (let item of accessList) {
                let r = await fetch(`/api/applications/${item.application_id}`, {
                    headers: { "Authorization": "Bearer " + token }
                });
                apps.push(await r.json());
            }
            console.log(apps);
            
            // ترتيب تنازلي حسب id (الأحدث)
            apps.sort((a, b) => b.id - a.id);

            const container = document.getElementById("appsContainer");

            apps.forEach(app => {
                container.innerHTML += `
                    <div class="bg-white p-5 rounded-lg shadow">
                        <h3 class="text-xl font-bold">${app.name}</h3>
                        <p class="text-gray-600">${app.description || ""}</p>
                        <span class="mt-3 inline-block bg-blue-200 text-blue-800 px-3 py-1 rounded text-sm">
                            ${app.category}
                        </span>
                    </div>
                `;
            });
        }

        // function logout() {
        //     localStorage.removeItem("token");
        //     window.location.href = "/login";
        // }

        // loadUser();
        // loadApps();
    </script>

</body>
</html>
